<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
      android:label="MyFirstApp"
      android:icon="@mipmap/ic_launcher">
      <activity
        android:name=".SimpleMainActivity"
        android:label="MyFirstApp"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>